body {
    font-family: sans-serif;
    margin: 0 50px;
   
  }
  .containerr {
    background: white;
    height: auto;
    width: 400px;
    border-radius: 15px;
    display: flexbox;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 15px;
    align-items: center;
  }
  
  .container {
    /* display: flex; */
    gap: 50px;
  }
  
  #posts {
    width: 400px;
    color:rgb(7, 51, 82);
    font-family: sans-serif;
    font-weight: bold;
  }
  i {
    cursor: pointer;
  }
  
  #msg {
    text-align: center;
    color: red;
    border-radius: 5px;
    background: rgba(255, 110, 110, 0.349);
  }
  .header {
    color: rgb(7, 51, 82);
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  h3 {
    color: rgb(7, 51, 82);
    padding-top: 13px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
  }
  button {
    height: 40px;
  }
  #input {
    height: 40px;
  }
  .bi-pencil-square {
    float: right;
    display: flex;
    
    padding-right: 10px;
    color: rgb(35, 201, 35);
    
  }
  .bi-trash {
    float: right;
    display: flex;
    padding-right: 50px;
    color: red;

  }